#catImage{
    height: 50vh;
    width: 50vw
  }
  #get{
    margin-top: 2%;

  }
  body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
  